body{
    padding: 0;
    margin: 0;
    font-family: 'Russo One', sans-serif;
}

.container{
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    background-color: rgb(34, 105, 187);
}
.container h1{
    color: rgb(255, 255, 255);
    font-size: 5em;
    text-decoration: overline underline;
    text-transform: lowercase;
}